.buttonsContainer {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 15px;
  }

.responseContainer {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.imageContainer {
}

.image {

}

.textContainer {
}

.code {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text {
}

.info {
}
